#tag {
	margin-top: 50px;
}
#gate {
	margin-top: 55px;
}
#tags {
	margin-top: 55px;

}
h5 {
	color: black;
}

.edit {
	border: none;
}
.thumbnail img {
	height: 240px;
	width: 290px;
}
hr{
	height: 3px;
	width: 15px;
	background-color: yellow;
}
span{
	color: black;
	font-size: 25px;
}
#price{
	color: lightgrey;
	font-size: 15px;
}
.sub {
	color: lightgrey;
}